src/views/article.pug
extends ../layouts/default

block variables
  - var title = "Статья"
  - var pageClass = ''
  - var activePage = 'article'

block content
  section.section
    .container
      .article
        h1 Международный Совет по культурному наследию
        time
          span Константинопольский Константин
          span 21 сентября, 2020
        .article__inner.article__inner_min
          img(src="assets/images/first-screen.png")
          .article__orgs.orgs
            span.orgs__title Организаторы
            .orgs__item
              img(src="assets/images/orgs/org_1.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_2.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_3.svg")
          p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          blockquote.article__blockquote
            span.article__quote.article__quote_up
            span.article__quote.article__quote_down
            .expert-board.expert-board_small.expert-board_article
              .expert-board__content
                .expert-board__image
                  img(src="assets/images/experts/expert_1.jpg")
                .expert-board__box
                  .expert-board__title Константинопольский Константин
                  .expert-board__text Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания
            p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          h3 Международный Совет по культурному наследию
          img(src="assets/images/article/article_1.jpg")
          small Современные технологии достигли такого уровня, что внедрение современных методик играет важную.
          p Предварительные выводы <a href="#">неутешительны</a>: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          ul
            li В своём стремлении повысить качество жизни, они забывают, что новая модель.
            li В своём стремлении повысить качество жизни, они забывают, что новая модель. В своём стремлении повысить качество жизни, они забывают, что новая модель.
            li В своём стремлении повысить качество жизни
            li В своём стремлении повысить качество
            li В своём стремлении повысить качество жизни, они забывают
          .article__slider.swiper-container.js-slider-article
            .swiper-wrapper
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
              .swiper-slide
                img(src="assets/images/article/article_2.jpg")
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
              .swiper-slide
                img(src="assets/images/article/article_2.jpg")
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
            .article__navs.slider-nav
              .slider-nav__item.slider-nav__item_prev
                i.icon
                  svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")
              .slider-nav__item.slider-nav__item_next
                i.icon
                  svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")

          p Мы вынуждены отталкиваться от того, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость соответствующих условий активизации. Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов требует определения и уточнения вывода текущих активов. Приятно, граждане, наблюдать, как тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов.
          p Господа, сплочённость команды профессионалов играет важную роль в формировании новых предложений. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса неоднозначны и будут указаны как претенденты на роль ключевых факторов. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего проекта позволяет оценить.
        .article__inner
          .expert-board.expert-board_small
            .expert-board__content
              .expert-board__image
                img(src="assets/images/experts/expert_1.jpg")
              .expert-board__box
                .expert-board__title Константинопольский Константин
                .expert-board__text Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания

docs/article.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Статья</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content=""><!--favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--favicon end-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="assets/css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"><!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__inner"><a class="header__logo" href="/"><img src="./assets/images/logo.svg"></a>
            <div class="header__menu">
              <div class="header__nav">
                <div class="header__nav-item"><a class="header__nav-content" href="/">Главная</a></div>
                <div class="header__nav-item dropdown" data-ddwn><a class="header__nav-content dropdown__head" data-ddwn-head href="/events.html"><span>Мероприятия</span><i class="icon icon_arrow_down">
                      <svg viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z"></path>
                      </svg></i></a>
                  <div class="dropdown__body" data-ddwn-body>
                    <div class="dropdown__content"><a class="dropdown__item" data-ddwn-item href="/events.html#day_21">21 сентября</a><a class="dropdown__item" data-ddwn-item href="/events.html#day_22">22 сентября</a><a class="dropdown__item" data-ddwn-item href="/events.html#day_23">23 сентября</a><a class="dropdown__item" data-ddwn-item href="/events.html#day_24">24 сентября</a><a class="dropdown__item" data-ddwn-item href="/events.html#day_25">25 сентября</a><a class="dropdown__item" data-ddwn-item href="/events.html#cultura">Культурная программа</a></div>
                  </div>
                </div>
                <div class="header__nav-item dropdown" data-ddwn><a class="header__nav-content dropdown__head" data-ddwn-head href="/experts.html"><span>Эксперты</span><i class="icon icon_arrow_down">
                      <svg viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z"></path>
                      </svg></i></a>
                  <div class="dropdown__body" data-ddwn-body>
                    <div class="dropdown__content"><a class="dropdown__item" data-ddwn-item href="/expert-page.html">Эксперт</a><a class="dropdown__item" data-ddwn-item href="/expert-page.html">Эксперт</a><a class="dropdown__item" data-ddwn-item href="/expert-page.html">Эксперт</a></div>
                  </div>
                </div>
                <div class="header__nav-item dropdown" data-ddwn><a class="header__nav-content dropdown__head" data-ddwn-head href="/gallery.html"><span>Галерея</span><i class="icon icon_arrow_down">
                      <svg viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z"></path>
                      </svg></i></a>
                  <div class="dropdown__body" data-ddwn-body>
                    <div class="dropdown__content"><a class="dropdown__item" data-ddwn-item href="/gallery.html#gal_1">Галерея</a><a class="dropdown__item" data-ddwn-item href="/gallery.html#gal_2">Галерея</a></div>
                  </div>
                </div>
              </div>
              <div class="header__lang lang"><span class="lang__item is-active">Ru</span><span class="lang__line">|</span><span class="lang__item">En</span></div>
              <div class="header__callback header__nav-item dropdown" data-ddwn><span class="header__nav-content dropdown__head" data-ddwn-head><span>Обратная связь</span><i class="icon icon_arrow_down">
                    <svg viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z"></path>
                    </svg></i></span>
                <div class="dropdown__body" data-ddwn-body>
                  <div class="dropdown__content"><a class="dropdown__item" data-ddwn-item href="tel:+79999999999">+7 999 999-99-99</a><a class="dropdown__item" data-ddwn-item href="mailto:info@example.ru">info@example.ru</a><span class="dropdown__item" data-ddwn-item data-modal-target="form">Задать вопрос</span></div>
                </div>
              </div>
            </div>
            <button class="button button_primary header__broadcast" disabled data-modal-target="live">Онлайн-трансляция</button>
            <div class="header__humburger humburger"><span></span><span></span><span></span></div>
          </div>
        </div>
      </header>
      <main>
        <section class="section">
          <div class="container">
            <div class="article">
              <h1>Международный Совет по культурному наследию</h1>
              <time><span>Константинопольский Константин</span><span>21 сентября, 2020</span></time>
              <div class="article__inner article__inner_min"><img src="assets/images/first-screen.png">
                <div class="article__orgs orgs"><span class="orgs__title">Организаторы</span>
                  <div class="orgs__item"><img src="assets/images/orgs/org_1.svg"></div>
                  <div class="orgs__item orgs__item_end"><img src="assets/images/orgs/org_2.svg"></div>
                  <div class="orgs__item orgs__item_end"><img src="assets/images/orgs/org_3.svg"></div>
                </div>
                <p>Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.</p>
                <blockquote class="article__blockquote"><span class="article__quote article__quote_up"></span><span class="article__quote article__quote_down"></span>
                  <div class="expert-board expert-board_small expert-board_article">
                    <div class="expert-board__content">
                      <div class="expert-board__image"><img src="assets/images/experts/expert_1.jpg"></div>
                      <div class="expert-board__box">
                        <div class="expert-board__title">Константинопольский Константин</div>
                        <div class="expert-board__text">Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания</div>
                      </div>
                    </div>
                  </div>
                  <p>Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.</p>
                </blockquote>
                <h3>Международный Совет по культурному наследию</h3><img src="assets/images/article/article_1.jpg"><small>Современные технологии достигли такого уровня, что внедрение современных методик играет важную.</small>
                <p>Предварительные выводы <a href="#">неутешительны</a>: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.</p>
                <ul>
                  <li>В своём стремлении повысить качество жизни, они забывают, что новая модель.</li>
                  <li>В своём стремлении повысить качество жизни, они забывают, что новая модель. В своём стремлении повысить качество жизни, они забывают, что новая модель.</li>
                  <li>В своём стремлении повысить качество жизни</li>
                  <li>В своём стремлении повысить качество</li>
                  <li>В своём стремлении повысить качество жизни, они забывают</li>
                </ul>
                <div class="article__slider swiper-container js-slider-article">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/images/article/article_1.jpg"></div>
                    <div class="swiper-slide"><img src="assets/images/article/article_2.jpg"></div>
                    <div class="swiper-slide"><img src="assets/images/article/article_1.jpg"></div>
                    <div class="swiper-slide"><img src="assets/images/article/article_2.jpg"></div>
                    <div class="swiper-slide"><img src="assets/images/article/article_1.jpg"></div>
                  </div>
                  <div class="article__navs slider-nav">
                    <div class="slider-nav__item slider-nav__item_prev"><i class="icon">
                        <svg viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        </svg></i></div>
                    <div class="slider-nav__item slider-nav__item_next"><i class="icon">
                        <svg viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        </svg></i></div>
                  </div>
                </div>
                <p>Мы вынуждены отталкиваться от того, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость соответствующих условий активизации. Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов требует определения и уточнения вывода текущих активов. Приятно, граждане, наблюдать, как тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов.</p>
                <p>Господа, сплочённость команды профессионалов играет важную роль в формировании новых предложений. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса неоднозначны и будут указаны как претенденты на роль ключевых факторов. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего проекта позволяет оценить.</p>
              </div>
              <div class="article__inner">
                <div class="expert-board expert-board_small">
                  <div class="expert-board__content">
                    <div class="expert-board__image"><img src="assets/images/experts/expert_1.jpg"></div>
                    <div class="expert-board__box">
                      <div class="expert-board__title">Константинопольский Константин</div>
                      <div class="expert-board__text">Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container"><span class="footer__bg"></span>
          <div class="footer__inner">
            <div class="footer__left">
              <div class="footer__box"><img class="footer__logo logo" src="assets/images/logo.svg">
                <div class="footer__orgs"><img class="footer__org" src="assets/images/orgs/org_1.svg"><img class="footer__org" src="assets/images/orgs/org_2.svg"><img class="footer__org" src="assets/images/orgs/org_3.svg"></div>
              </div>
            </div>
            <div class="footer__right">
              <div class="footer__nav"><span class="footer__nav-title">Навигация</span><a class="footer__item" href="#">Главная</a><a class="footer__item" href="#">Эксперты</a><a class="footer__item" href="#">Мероприятия</a><a class="footer__item" href="#">Архив</a></div>
              <div class="footer__nav"><span class="footer__nav-title">Мы на связи</span><a class="footer__contact footer__contact_mail" href="mailto:info@example.ru">info@example.ru</a>
                <button class="button button_outline footer__ask-button">Задать вопрос</button>
              </div>
            </div>
            <div class="footer__bottom"><span class="footer__copy">&copy; Все права защищены, 2020 год</span></div>
          </div>
        </div>
      </footer>
      <div class="modal-container">
        <div class="modal modal_live" data-modal="live" data-src-modal="data-src-modal">
          <div class="modal__content">
            <button class="modal__close" type="button" data-modal-close="data-modal-close"><svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.0302 15.0004L29.3721 3.65836C30.21 2.82051 30.21 1.46624 29.3721 0.628387C28.5343 -0.209462 27.18 -0.209462 26.3422 0.628387L15.0002 11.9704L3.65832 0.628387C2.82048 -0.209462 1.46622 -0.209462 0.628381 0.628387C-0.20946 1.46624 -0.20946 2.82051 0.628381 3.65836L11.9703 15.0004L0.628381 26.3424C-0.20946 27.1803 -0.20946 28.5345 0.628381 29.3724C1.04623 29.7903 1.59479 30.0002 2.14335 30.0002C2.69191 30.0002 3.24047 29.7903 3.65832 29.3724L15.0002 18.0304L26.3422 29.3724C26.76 29.7903 27.3086 30.0002 27.8571 30.0002C28.4057 30.0002 28.9543 29.7903 29.3721 29.3724C30.21 28.5345 30.21 27.1803 29.3721 26.3424L18.0302 15.0004Z" fill="black"/>
</svg>
            </button>
            <div class="container">
              <div class="title-block"><span class="title-block__title">Прямая трансляция</span></div>
              <div class="live-block">
                <div class="live-block__video broadcast"></div>
                <div class="live-block__content"><span class="live-block__sup">Пленарная видеоконференция</span>
                  <h5 class="live-block__title">Сохранение наследия в условиях пандемии</h5>
                  <p class="live-block__text">А также интерактивные прототипы освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, описаны максимально подробно. Господа, глубокий уровень погружения создаёт</p>
                  <div class="live-block__experts experts-slider js-slider-experts">
                    <div class="title-block experts-slider__title"><span class="title-block__title">Эксперты</span>
                      <div class="experts-slider__navs slider-nav">
                        <div class="slider-nav__item slider-nav__item_prev"><i class="icon">
                            <svg viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                            </svg></i></div>
                        <div class="slider-nav__item slider-nav__item_next"><i class="icon">
                            <svg viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                            </svg></i></div>
                      </div>
                    </div>
                    <div class="experts-slider__slider swiper-container">
                      <div class="swiper-wrapper"><a class="experts-slider__slide swiper-slide" href="#"><img src="assets/images/experts/expert_1.jpg"/></a><a class="experts-slider__slide swiper-slide" href="#"><img src="assets/images/experts/expert_1.jpg"/></a><a class="experts-slider__slide swiper-slide" href="#"><img src="assets/images/experts/expert_1.jpg"/></a><a class="experts-slider__slide swiper-slide" href="#"><img src="assets/images/experts/expert_1.jpg"/></a><a class="experts-slider__slide swiper-slide" href="#"><img src="assets/images/experts/expert_1.jpg"/></a></div>
                    </div>
                  </div>
                  <div class="live-block__onward"><span>Далее:</span><span>Онлайн-интервью зарубежных экспертов в Онлайн-интервью</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal modal_form" data-modal="form" data-src-modal="data-src-modal">
          <div class="modal__content">
            <div class="form">
              <button class="modal__close" type="button" data-modal-close="data-modal-close"><svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.0302 15.0004L29.3721 3.65836C30.21 2.82051 30.21 1.46624 29.3721 0.628387C28.5343 -0.209462 27.18 -0.209462 26.3422 0.628387L15.0002 11.9704L3.65832 0.628387C2.82048 -0.209462 1.46622 -0.209462 0.628381 0.628387C-0.20946 1.46624 -0.20946 2.82051 0.628381 3.65836L11.9703 15.0004L0.628381 26.3424C-0.20946 27.1803 -0.20946 28.5345 0.628381 29.3724C1.04623 29.7903 1.59479 30.0002 2.14335 30.0002C2.69191 30.0002 3.24047 29.7903 3.65832 29.3724L15.0002 18.0304L26.3422 29.3724C26.76 29.7903 27.3086 30.0002 27.8571 30.0002C28.4057 30.0002 28.9543 29.7903 29.3721 29.3724C30.21 28.5345 30.21 27.1803 29.3721 26.3424L18.0302 15.0004Z" fill="black"/>
</svg>
              </button>
              <h2 class="form__title">Возник вопрос?</h2>
              <p class="form__subtitle">Напишите нам через форму обратной связи, и мы свяжемся с вами в ближайшее время.</p>
              <form name="callback">
                <div class="form__field">
                  <label class="form__label">Имя</label>
                  <div class="form__control">
                    <input class="form__input" type="text" placeholder="Введите ваше имя" required="required"/>
                  </div>
                </div>
                <div class="form__field">
                  <label class="form__label">Электронная почта</label>
                  <div class="form__control">
                    <input class="form__input" type="text" placeholder="Введите эл. почту" required="required"/>
                  </div>
                </div>
                <div class="form__field">
                  <label class="form__label">Ваш вопрос</label>
                  <div class="form__control">
                    <textarea class="form__input" rows="6"></textarea>
                  </div>
                </div>
                <div class="form__actions">
                  <button class="button button_primary">Отправить</button>
                  <p class="form__politic">Нажимая кнопку, вы соглашаетесь с условиями обработки <a href="#">персональных данных</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/libs.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
